* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 300px;
    padding: 20px;
    box-shadow: 4px 7px 29px 0 rgba(194, 190, 194, 1);
    border-radius: 14px;
}

#messages {
    width: 100%;
    border-radius: 7px;
    background-color: #95e1eb;
    height: calc(100% - 200px);
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
}

#sendMessageForm {

    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

#userName {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 10px;
    outline: none;
}

#messageText {
    padding: 10px;
    border-radius: 7px;
    resize: none;
    margin-bottom: 10px;
    outline: none;
}

#userName:focus,
#messageText:focus {
    border-color: #70cad6;
}

#messageSubmit {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 12px;
    background-color: #52a7b3;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
}

#messageSubmit:hover {
    background-color: #388994;
}

.message-item {
    border-radius: 7px;
    background-color: #fff;
    font-size: 16px;
    width: 70%;
    padding: 7px;
    word-wrap: break-word;
}

.message-item.mine {
    margin-left: auto;
    background-color: rgb(153, 151, 151);
    color: #fff;
}
